@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap');

// Animated CSS background

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: -100;
}

.background span {
  width: 2vmin;
  height: 2vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 21.6s;
  animation: move linear infinite;
}

.background span:nth-child(0) {
  color: #cd62fe;
  top: 37.8%;
  left: 45%;
  animation-duration: 9.9s;
  animation-delay: -18s;
  transform-origin: 11.7vw 7.2vh;
  box-shadow: -3.6vmin 0 0.542469157025621vmin currentColor;
}
.background span:nth-child(1) {
  color: #fc5c7d;
  top: 10.8%;
  left: 73.8%;
  animation-duration: 153s;
  animation-delay: -54s;
  transform-origin: 1.8vw 21.6vh;
  box-shadow: -3.6vmin 0 1.2127159232675147vmin currentColor;
}
.background span:nth-child(2) {
  color: #cd62fe;
  top: 17.1%;
  left: 38.7%;
  animation-duration: 89.1s;
  animation-delay: -54.9s;
  transform-origin: 18.9vw -8.1vh;
  box-shadow: -3.6vmin 0 0.8426638971493145vmin currentColor;
}
.background span:nth-child(3) {
  color: #cd62fe;
  top: 55.8%;
  left: 54%;
  animation-duration: 233.1s;
  animation-delay: -180.9s;
  transform-origin: -4.5vw -15.3vh;
  box-shadow: -3.6vmin 0 1.265879024193541vmin currentColor;
}
.background span:nth-child(4) {
  color: #fc5c7d;
  top: 36.9%;
  left: 62.1%;
  animation-duration: 144s;
  animation-delay: -46.8s;
  transform-origin: -21.6vw -18.9vh;
  box-shadow: 3.6vmin 0 1.2300504108779974vmin currentColor;
}
.background span:nth-child(5) {
  color: #cd62fe;
  top: 30.6%;
  left: 14.4%;
  animation-duration: 123.3s;
  animation-delay: -12.6s;
  transform-origin: -9vw -3.6vh;
  box-shadow: 3.6vmin 0 1.3070200868690428vmin currentColor;
}
.background span:nth-child(6) {
  color: #fc5c7d;
  top: 63%;
  left: 1.8%;
  animation-duration: 221.4s;
  animation-delay: -71.1s;
  transform-origin: 2.7vw -5.4vh;
  box-shadow: 3.6vmin 0 0.7676744582546755vmin currentColor;
}
.background span:nth-child(7) {
  color: #6a82fb;
  top: 36.9%;
  left: 42.3%;
  animation-duration: 54s;
  animation-delay: -201.6s;
  transform-origin: -17.1vw -10.8vh;
  box-shadow: -3.6vmin 0 0.7803205854256737vmin currentColor;
}
.background span:nth-child(8) {
  color: #fc5c7d;
  top: 48.6%;
  left: 89.1%;
  animation-duration: 37.8s;
  animation-delay: -98.1s;
  transform-origin: -13.5vw 7.2vh;
  box-shadow: -3.6vmin 0 0.8417432767235204vmin currentColor;
}
.background span:nth-child(9) {
  color: #cd62fe;
  top: 4.5%;
  left: 61.2%;
  animation-duration: 171.9s;
  animation-delay: -128.7s;
  transform-origin: -7.2vw -6.3vh;
  box-shadow: -3.6vmin 0 0.8410520629680563vmin currentColor;
}
.background span:nth-child(10) {
  color: #cd62fe;
  top: 87.3%;
  left: 35.1%;
  animation-duration: 234.9s;
  animation-delay: -139.5s;
  transform-origin: 6.3vw -12.6vh;
  box-shadow: -3.6vmin 0 0.8516143336427668vmin currentColor;
}
.background span:nth-child(11) {
  color: #cd62fe;
  top: 7.2%;
  left: 32.4%;
  animation-duration: 199.8s;
  animation-delay: -195.3s;
  transform-origin: 14.4vw 9vh;
  box-shadow: -3.6vmin 0 0.4524354892851108vmin currentColor;
}
.background span:nth-child(12) {
  color: #6a82fb;
  top: 82.8%;
  left: 71.1%;
  animation-duration: 153.9s;
  animation-delay: -54.9s;
  transform-origin: -6.3vw 4.5vh;
  box-shadow: 3.6vmin 0 0.6102420197821312vmin currentColor;
}
.background span:nth-child(13) {
  color: #fc5c7d;
  top: 22.5%;
  left: 13.5%;
  animation-duration: 99s;
  animation-delay: -36s;
  transform-origin: -9vw 18vh;
  box-shadow: 3.6vmin 0 0.702vmin currentColor;
}
.background span:nth-child(14) {
  color: #cd62fe;
  top: 67.5%;
  left: 22.5%;
  animation-duration: 79.2s;
  animation-delay: -117s;
  transform-origin: -10.8vw 12.6vh;
  box-shadow: -3.6vmin 0 0.504vmin currentColor;
}
.background span:nth-child(15) {
  color: #6a82fb;
  top: 29.7%;
  left: 49.5%;
  animation-duration: 119.7s;
  animation-delay: -100.8s;
  transform-origin: 5.4vw 16.2vh;
  box-shadow: -3.6vmin 0 0.594vmin currentColor;
}
.background span:nth-child(16) {
  color: #fc5c7d;
  top: 18%;
  left: 36%;
  animation-duration: 143.1s;
  animation-delay: -83.7s;
  transform-origin: -7.2vw 19.8vh;
  box-shadow: 3.6vmin 0 0.792vmin currentColor;
}

// Body CSS

html, body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #000000;
}

.page-header {
  font-family: 'Mada', sans-serif;
  font-size: 36px;
  padding: 18px 0 9px 0;
  margin: 9px 0;
  text-decoration: underline;
}

.section-header {
  font-family: 'Mada', sans-serif;
  font-size: 25.2px;
}

// Nav bar CSS

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13.5px;
}

.nav img {
  width: 31.5px;
  padding-left: 18px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: end;
}

.nav img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.nav a {
  letter-spacing: 0.45px;
  text-decoration: none;
  color: black;
  font-size: 23.4px;
  padding: 0 36px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  &:after {
    content: "";
    position: absolute;
    background-color: #000000;
    height: 4.5px;
    width: 0;
    left: 50%;
    bottom: -4.5px;
    transition: width 0.3s ease;
  }
  &:hover:after {
    width: 65%;
    left: 18%;
  }
  &:not(:hover):after {
    width: 0;
    left: 18%;
  }
}

// Landing Page CSS

#landingPage {
  margin: 108px 0 54px 0;
  display: flex;
  justify-content: center;
}

#landingPage h2 {
  font-family: "Mada", sans-serif;
  font-size: 54px;
  letter-spacing: 0.9px;
  text-shadow: 2.7px -0.9px rgba(0, 0, 0, 0.27);
  margin: 0 13.5px 13.5px 13.5px;
  color: #000000;
}

#landingPage h3 {
  font-family: "Mada", sans-serif;
  font-size: 40.5px;
  letter-spacing: 0.9px;
  margin: 13.5px;
}

#landingPage p {
  font-size: 19.8px;
  font-style: italic;
  margin: 36px 13.5px 13.5px 13.5px;
}

#landingPage img {
  width: 342px;
  margin-right: 90px;
  border: solid 4.5px black;
  box-shadow: -13.5px 1.8px rgba(0, 0, 0, 1);
  border-radius: 50%;
  transition: transform 0.18s ease-in-out;
  cursor: pointer;
}

#landingPage img:hover {
  transform: scale(1.018);
}

.landingPage-highlight {
  text-decoration: line-through;
  text-decoration-thickness: 16.2px;
  text-decoration-color: #cd62fe5b;
}

.landingPage-text {
  font-size: 18px;
  text-align: start;
  margin: 13.5px;
  align-items: flex-start;
  align-content: stretch;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  height: fit-content;
}

// About page CSS

.about-me {
  justify-content: center;
  align-items: center;
  margin: 36px 270px 54px 270px;
  font-size: 14.4px;
  background-color: white;
}

.hobbies {
  font-size: 18px;
  font-style: italic;
  margin-top: 27px;
}

.about-me h1 {
  font-family: "Mada", sans-serif;
  font-size: 28.8px;
  letter-spacing: 1.35px;
  margin-top: 54px;
}

.about-me ul {
  list-style-type: none;
  font-size: 16.2px;
}

// Skills page

.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 9px;
}

.skills img {
  width: 90px;
  padding: 13.5px;
  background-color: white;
}

.skills img:hover {
  transform: scale(1.08);
}

.skills-text {
  font-weight: 450;
  margin: 18px 405px;
  background-color: white;
}

// Projects page CSS

.projects-header {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.projects-header h1 {
  padding-right: 13.5px;
}

.projects-header img {
  height: 22.5px;
  padding-left: 9px;
}

.projects-header img:hover {
  transform: scale(1.26);
  cursor: pointer;
}

#icon {
  margin-top: 9px;
  width: 40.5px;
  padding: 4.5px;
}

#icon:hover {
  transform: scale(1.08);
}

h1 {
  font-size: large;
}

.projects-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14.4px;
  line-height: 1.44;
  background-color: white;
}

#left-section {
  height: 432px;
  display: flex;
  padding: 0 108px 0 108px;
  flex-direction: row;
  align-items: center;
}

#right-section {
  height: 432px;
  display: flex;
  padding: 0 108px 0 108px;
  flex-direction: row-reverse;
  align-items: center;
}

.mockup {
  padding-right: 45px;
  height: 234px;
  transition: transform 0.27s ease-in-out;
}

.mockup:hover {
  transform: scale(1.018);
  cursor: pointer;
}

// Projects footer

.projects-footer {
  margin-top: 36px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 27px;
}

.projects-footer p {
  margin-right: 9px;
  font-size: medium;
}

.projects-footer img {
  width: 22.5px;
  padding: 0 4.5px;
}

.projects-footer img:hover {
  cursor: pointer;
  transform: scale(1.08);
}

// Contact page CSS

.contact p {
  text-align: center;
  margin: auto;
  padding-bottom: 9px;
  width: 495px;
  background-color: white;
}

.contact-email {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
}

.contact-email:hover {
  color: white;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 19.8px;
  width: 585px;
  padding-top: 27px;
  margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
  border: 1.8px solid #000000;
  padding: 13.5px;
  margin-bottom: 9px;
  color: black;
  font-family: "DM Sans", sans-serif;
  font-size: 13.5px;
  box-shadow: 4.5px 4.5px rgba(0, 0, 0, 1);
}

.contact-form textarea {
  height: 135px;
}

.contact-form button {
  border: 1.8px solid #000000;
  padding: 13.5px;
  background-color: #ffffff;
  color: black;
  font-family: "DM Sans", sans-serif;
  font-size: 14.4px;
  box-shadow: 4.5px 4.5px rgba(0, 0, 0, 1);
}

.contact-form button:hover {
  background: linear-gradient(to right, rgb(252, 92, 125), rgb(106, 130, 251));
  color: black;
  cursor: pointer;
}

// Footer CSS

.footer {
  margin-top: 27px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 27px;
}

.footer p {
  margin-right: 9px;
  font-size: medium;
}

.footer img {
  width: 27px;
  padding: 0 4.5px;
}

.footer img:hover {
  cursor: pointer;
  transform: scale(1.08);
}

// Responsive CSS
// Media Queries

@media only screen and (max-width: 1080px) {
  .footer {
    font-size: 13.5px;
  }
  a {
    font-size: 13.5px;
    padding: 0 40.5px;
  }
}

@media only screen and (max-width: 892.8px) {
  .footer {
    font-size: 13.5px;
  }
  a {
    font-size: 13.5px;
    padding: 0 40.5px;
  }
}

@media only screen and (max-width: 691.2px) {
  .footer {
    font-size: 12.15px;
  }
  a {
    display: none;
  }
  .bm-burger-button {
    display: block;
  }
}

@media only screen and (max-width: 518.4px) {
  .footer {
    font-size: 10.8px;
  }
  a {
    display: none;
  }
  .bm-burger-button {
    display: block;
  }
}

@media only screen and (max-width: 432px) {
  .footer {
    font-size: 9.72px;
  }
  a {
    display: none;
  }
  .bm-burger-button {
    display: block;
  }
}

