@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap');

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: -100;
}

.background span {
  width: 2vmin;
  height: 2vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move linear infinite;
  animation-duration: 24s;
}

.background span:nth-child(0) {
  color: #cd62fe;
  top: 42%;
  left: 50%;
  animation-duration: 11s;
  animation-delay: -20s;
  transform-origin: 13vw 8vh;
  box-shadow: -4vmin 0 0.6027vmin currentColor;
}

.background span:nth-child(1) {
  color: #fc5c7d;
  top: 12%;
  left: 82%;
  animation-duration: 170s;
  animation-delay: -60s;
  transform-origin: 2vw 24vh;
  box-shadow: -4vmin 0 1.3475vmin currentColor;
}

.background span:nth-child(2) {
  color: #cd62fe;
  top: 19%;
  left: 43%;
  animation-duration: 99s;
  animation-delay: -61s;
  transform-origin: 21vw -9vh;
  box-shadow: -4vmin 0 0.9363vmin currentColor;
}

.background span:nth-child(3) {
  color: #cd62fe;
  top: 62%;
  left: 60%;
  animation-duration: 259s;
  animation-delay: -201s;
  transform-origin: -5vw -17vh;
  box-shadow: -4vmin 0 1.4065vmin currentColor;
}

.background span:nth-child(4) {
  color: #fc5c7d;
  top: 41%;
  left: 69%;
  animation-duration: 160s;
  animation-delay: -52s;
  transform-origin: -24vw -21vh;
  box-shadow: 4vmin 0 1.3667vmin currentColor;
}

.background span:nth-child(5) {
  color: #cd62fe;
  top: 34%;
  left: 16%;
  animation-duration: 137s;
  animation-delay: -14s;
  transform-origin: -10vw -4vh;
  box-shadow: 4vmin 0 1.4534vmin currentColor;
}

.background span:nth-child(6) {
  color: #fc5c7d;
  top: 70%;
  left: 2%;
  animation-duration: 246s;
  animation-delay: -79s;
  transform-origin: 3vw -6vh;
  box-shadow: 4vmin 0 0.853vmin currentColor;
}

.background span:nth-child(7) {
  color: #6a82fb;
  top: 41%;
  left: 47%;
  animation-duration: 60s;
  animation-delay: -224s;
  transform-origin: -19vw -12vh;
  box-shadow: -4vmin 0 0.867vmin currentColor;
}

.background span:nth-child(8) {
  color: #fc5c7d;
  top: 54%;
  left: 99%;
  animation-duration: 42s;
  animation-delay: -109s;
  transform-origin: -15vw 8vh;
  box-shadow: -4vmin 0 0.9353vmin currentColor;
}

.background span:nth-child(9) {
  color: #cd62fe;
  top: 5%;
  left: 68%;
  animation-duration: 191s;
  animation-delay: -143s;
  transform-origin: -8vw -7vh;
  box-shadow: -4vmin 0 0.9345vmin currentColor;
}

.background span:nth-child(10) {
  color: #cd62fe;
  top: 97%;
  left: 39%;
  animation-duration: 261s;
  animation-delay: -155s;
  transform-origin: 7vw -14vh;
  box-shadow: -4vmin 0 0.9462vmin currentColor;
}

.background span:nth-child(11) {
  color: #cd62fe;
  top: 8%;
  left: 36%;
  animation-duration: 222s;
  animation-delay: -217s;
  transform-origin: 17vw 10vh;
  box-shadow: -4vmin 0 0.5027vmin currentColor;
}

.background span:nth-child(12) {
  color: #6a82fb;
  top: 92%;
  left: 79%;
  animation-duration: 171s;
  animation-delay: -62s;
  transform-origin: -7vw 5vh;
  box-shadow: 4vmin 0 0.678vmin currentColor;
}

.background span:nth-child(13) {
  color: #fc5c7d;
  top: 25%;
  left: 15%;
  animation-duration: 110s;
  animation-delay: -40s;
  transform-origin: -10vw 20vh;
  box-shadow: 4vmin 0 0.78vmin currentColor;
}

.background span:nth-child(14) {
  color: #cd62fe;
  top: 75%;
  left: 25%;
  animation-duration: 88s;
  animation-delay: -130s;
  transform-origin: -12vw 14vh;
  box-shadow: -4vmin 0 0.56vmin currentColor;
}

.background span:nth-child(15) {
  color: #6a82fb;
  top: 33%;
  left: 55%;
  animation-duration: 133s;
  animation-delay: -112s;
  transform-origin: 6vw 18vh;
  box-shadow: -4vmin 0 0.66vmin currentColor;
}

.background span:nth-child(16) {
  color: #fc5c7d;
  top: 20%;
  left: 40%;
  animation-duration: 159s;
  animation-delay: -93s;
  transform-origin: -8vw 22vh;
  box-shadow: 4vmin 0 0.88vmin currentColor;
}

html, body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #000000;
}

.page-header {
  font-family: 'Mada', sans-serif;
  font-size: 2.5rem;
  padding: 1.25rem 0 0.625rem 0;
  margin: 0.625rem 0;
  text-decoration: underline;
}

.section-header {
  font-family: 'Mada', sans-serif;
  font-size: 1.75rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9375rem;
}

.nav img {
  width: 2.1875rem;
  padding-left: 1.25rem;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: end;
}

.nav img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.nav a {
  letter-spacing: 0.03125rem;
  text-decoration: none;
  color: black;
  font-size: 1.625rem;
  padding: 0 2.5rem;
  cursor: pointer;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.nav a:after {
  content: "";
  position: absolute;
  background-color: #000000;
  height: 0.3125rem;
  width: 0;
  left: 50%;
  bottom: -0.3125rem;
  transition: width 0.3s ease; 
}

.nav a:hover:after {
  width: 60%; 
  left: 20%;
}

.nav a:not(:hover):after {
  width: 0; 
  left: 20%; 
}

#landingPage {
  margin: 7.5rem 0 3.75rem 0;
  display: flex;
  justify-content: center;
}

#landingPage h2 {
  font-family: "Mada", sans-serif;
  font-size: 3.75rem;
  letter-spacing: 0.0625rem;
  text-shadow: 0.1875rem -0.0625rem rgba(0, 0, 0, 0.3);
  margin: 0 0.9375rem 0.9375rem 0.9375rem;
  color: #000000;
}

#landingPage h3 {
  font-family: "Mada", sans-serif;
  font-size: 2.8125rem;
  letter-spacing: 0.0625rem;
  margin: 0.9375rem;
}

#landingPage p {
  font-size: 1.375rem;
  font-style: italic;
  margin: 2.5rem 0.9375rem 0.9375rem 0.9375rem;
}

#landingPage img {
  width: 23.75rem;
  margin-right: 6.25rem;
  border: solid 0.3125rem black;
  box-shadow: -0.9375rem 0.125rem rgba(0, 0, 0, 1);
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

#landingPage img:hover {
  transform: scale(1.02);
}

.landingPage-highlight {
  text-decoration: line-through;
  text-decoration-thickness: 1.125rem;
  text-decoration-color: #cd62fe5b;
}

.landingPage-text {
  font-size: 1.25rem;
  text-align: start;
  margin: 0.9375rem;
  align-items: flex-start;
  align-content: stretch;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  height: fit-content;
}

.about-me {
  justify-content: center;
  align-items: center;
  margin: 2.5rem 18.75rem 3.75rem 18.75rem;
  font-size: 1rem;
  background-color: white;
}

.hobbies {
  font-size: 1.25rem;
  font-style: italic;
  margin-top: 1.875rem;
}

.about-me h1 {
  font-family: "Mada", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.09375rem;
  margin-top: 3.75rem;
}

.about-me ul {
  list-style-type: none;
  font-size: 1.125rem;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.625rem;
}

.skills img {
  width: 6.25rem;
  padding: 0.9375rem;
  background-color: white;
}

.skills img:hover {
  transform: scale(1.2);
}

.skills-text {
  font-weight: 500;
  margin: 1.25rem 28.125rem;
  background-color: white;
}

.projects-header {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.projects-header h1 {
  padding-right: 0.9375rem;
}

.projects-header img {
  height: 1.5625rem;
  padding-left: 0.625rem;
}

.projects-header img:hover {
  transform: scale(1.4);
  cursor: pointer;
}

#icon {
  margin-top: 0.625rem;
  width: 2.8125rem;
  padding: 0.3125rem;
}

#icon:hover {
  transform: scale(1.2);
}

h1 {
  font-size: 1.25rem;
}

.projects-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.6;
  background-color: white;
}

#left-section {
  height: 30rem;
  display: flex;
  padding: 0 7.5rem 0 7.5rem;
  flex-direction: row;
  align-items: center;
}

#right-section {
  height: 30rem;
  display: flex;
  padding: 0 7.5rem 0 7.5rem;
  flex-direction: row-reverse;
  align-items: center;
}

.mockup {
  padding-right: 3.125rem;
  height: 16.25rem;
  transition: transform 0.3s ease-in-out;
}

.mockup:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.projects-footer {
  margin-top: 2.5rem;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 1.875rem;
}

.projects-footer p {
  margin-right: 0.625rem;
  font-size: 1.25rem;
}

.projects-footer img {
  width: 1.5625rem;
  padding: 0 0.3125rem;
}

.projects-footer img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.contact p {
  text-align: center;
  margin: auto;
  padding-bottom: 0.625rem;
  width: 34.375rem;
  background-color: white;
}

.contact-email {
  color: #000000;
  text-decoration: none;
  font-size: 1.25rem;
}

.contact-email:hover {
  color: white;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.375rem;
  width: 40.625rem;
  padding-top: 1.875rem;
  margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
  border: 0.125rem solid #000000;
  padding: 0.9375rem;
  margin-bottom: 0.625rem;
  color: black;
  font-family: "DM Sans", sans-serif;
  font-size: 0.9375rem;
  box-shadow: 0.3125rem 0.3125rem rgba(0, 0, 0, 1);
}

.contact-form textarea {
  height: 9.375rem;
}

.contact-form button {
  border: 0.125rem solid #000000;
  padding: 0.9375rem;
  background-color: #ffffff;
  color: black;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  box-shadow: 0.3125rem 0.3125rem rgba(0, 0, 0, 1);
}

.contact-form button:hover {
  background: linear-gradient(to right, rgb(252, 92, 125), rgb(106, 130, 251));
  color: black;
  cursor: pointer;
}

.footer {
  margin-top: 1.875rem;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 1.875rem;
}

.footer p {
  margin-right: 0.625rem;
  font-size: 1.25rem;
}

.footer img {
  width: 1.875rem;
  padding: 0 0.3125rem;
}

.footer img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media only screen and (max-width: 1200px) {
  .footer {
    font-size: 0.9375rem;
  }

  a {
    font-size: 0.9375rem;
    padding: 0 2.8125rem;
  }
}

@media only screen and (max-width: 992px) {
  .footer {
    font-size: 0.9375rem;
  }

  a {
    font-size: 0.9375rem;
    padding: 0 2.8125rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    font-size: 0.8125rem;
  }

  a {
    display: none;
  }

  .bm-burger-button {
    display: block;
  }
}

@media only screen and (max-width: 576px) {
  .footer {
    font-size: 0.6875rem;
  }

  a {
    display: none;
  }

  .bm-burger-button {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .footer {
    font-size: 0.5625rem;
  }

  a {
    display: none;
  }

  .bm-burger-button {
    display: block;
  }
}

  
